.glass-pane {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(55, 55, 55, 0.5);
    z-index: 9999; /* So it is in front of everything, even the navbar */

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .3s linear;
}

sl-button[variant="text"] {
    position: absolute;
    right: 0;
}

sl-button[variant="text"]::part(base) {
    color: darkred;
    transition: linear .15s;
    font-weight: bolder;
}

sl-button[variant="text"]::part(base):hover {
    color: red;
    transform: scale(1.2);
}

sl-card {
    z-index: 10000;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div[slot="footer"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-div small {
    color: green;
}