
.navbar {
    box-shadow: var(--sl-shadow-medium);
    border-bottom: 1px solid var(--sl-color-neutral-200);
    padding: var(--sl-spacing-small) 1rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.guide {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.profile-skeleton {
  width: 20vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  max-width: 70px;
}

a {
    text-decoration: none;
    color: inherit;
}
