
.chat-panel {
    display: flex;
    width: 100%;
    height: 100%;
}

.chat-contacts {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--sl-color-neutral-100);
    height: 100%;
    overflow: auto;

    box-sizing: border-box;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.chat-nav {
    width: 100%;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.message-holder {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.chat-input sl-input {
    width: 80%;
}

.send-message-button {
    display: block;
}

/* For Mobile */

@media (max-width: 768px) {

    .chat-contacts {
        display: none;
    }
}