
.item-display {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: .2rem;

    cursor: pointer;
    transition: .15s ease-in;
    break-inside: avoid;
}

.item-display img {
  width: 100%;
  height: auto;
}

.item-display footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    background-color: var(--sl-color-primary-400);
    position: absolute;
    bottom: .3rem;
    padding: .5rem;

    box-sizing: border-box;
    transition: .3s linear;
    opacity: 0;
}

.item-display footer small {
    font-weight: bolder;
}

.item-display:hover {
    transform: scale(1.03);
}

.item-display:hover footer{
    opacity: 1;
}